<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- {% load static %} -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&amp;subset=latin-ext" rel="stylesheet">
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="../../static/tasks/css/style.css">
    <link rel="stylesheet" href="../../static/tasks/css/fontawesome/css/all.min.css">
    <!-- <link rel="stylesheet" href="{% static 'tasks/style.css' %}"> -->
    <title>TPS - {{ page_title }} </title>
    <script>
      function ensure(d) {
        return confirm("Are you sure you want to " + d + "?")
      }
    </script>
  </head>

  <body>
    <!-- DELETE FROM HERE -->
    <div id="sidebar">
      <ul>
        <li id="brand-item"><a href="#" class="brand-link"><img src="../../static/tasks/img/tps_logo.png" alt="TPS" id="tps-logo"></a></li>
        <hr>
        <li><a href="#"><i class="fas fa-user fa-2x"></i><span id="sidebar-user">Doruk Maltepe</span></a></li>
        <li><a href="#"><i class="fas fa-bell fa-2x"></i><span id="sidebar-notifications">Notifications</span></a></li>
        <li><a href="#"><i class="fas fa-user-friends fa-2x"></i><span id="sidebar-teams">Teams</span></a></li>
        <li><a href="#"><i class="fas fa-calendar-alt fa-2x"></i><span id="sidebar-calendar">Calendar</span></a></li>
        <li><a href="#"><i class="fas fa-comment fa-2x"></i><span id="sidebar-comments">Comments</span></a></li>
        <li><a href="#"><i class="fas fa-book fa-2x"></i><span id="sidebar-grades">Grades</span></a></li>
      </ul>
        <a href="#" id="bottom-sign-out"><i class="fas fa-sign-out-alt fa-2x"></i>Sign Out</a>
    </div>

    <!-- DELETE UNTIL HERE -->

    <div class="container main-screen">
      <div class="row">
          <div class="col-sm-12 profile-row">
              <div class="profile-card">
                  <img src="C:\Users\oguzs\Downloads\Collaborate Pic.jpeg" alt="Profile Picture">
                  <div class="profile-info">
                      <h1>Utku Isil</h1>
                      <p class="title">Computer Engineering</p>
                      <p>20170602023</p>
                  </div>
              </div>
          </div> 
      </div>
      <div class="row">
        <div class="col-sm-5 user-feed">
            <ul>
                <li>
                  <p class="notification-date">05-05-20</p>
                  <div class="notification-header">
                    <h4>SE 302</h4>
                    <p><span class="bold-span">Milestone:</span> Design Document</p>
                    <p><span class="bold-span">Task:</span> UML Diagrams</p>
                  </div>
                  <hr class="content-separator">
                  <div class="notification-content">
                    <p class="content-text">Id sit aliqua consequat sunt qui cillum sit ea non magna ullamco. Tempor quis nulla non ut reprehenderit eiusmod proident. Incididunt aliqua reprehenderit laboris consectetur proident sint eu. Eiusmod magna consequat consectetur aliqua aute aliquip sint sit. Nisi tempor consectetur ipsum cillum tempor commodo dolore. Non ut voluptate nulla irure voluptate reprehenderit elit. Incididunt anim cupidatat incididunt laboris dolore reprehenderit adipisicing cillum. Eu sint occaecat aliqua aute magna voluptate ut voluptate irure aute duis pariatur id.</p>
                  </div>
                </li>
                <li>
                  <p class="notification-date">05-05-20</p>
                  <div class="notification-header">
                    <h4>SE 302</h4>
                    <p><span class="bold-span">Milestone:</span> Design Document</p>
                    <p><span class="bold-span">Task:</span> UML Diagrams</p>
                  </div>
                  <hr class="content-separator">
                  <div class="notification-content">
                    <p class="content-text">Id sit aliqua consequat sunt qui cillum sit ea non magna ullamco. Tempor quis nulla non ut reprehenderit eiusmod proident. Incididunt aliqua reprehenderit laboris consectetur proident sint eu. Eiusmod magna consequat consectetur aliqua aute aliquip sint sit. Nisi tempor consectetur ipsum cillum tempor commodo dolore. Non ut voluptate nulla irure voluptate reprehenderit elit. Incididunt anim cupidatat incididunt laboris dolore reprehenderit adipisicing cillum. Eu sint occaecat aliqua aute magna voluptate ut voluptate irure aute duis pariatur id.</p>
                  </div>
                </li>
                <li>
                  <p class="notification-date">05-05-20</p>
                  <div class="notification-header">
                    <h4>SE 302</h4>
                    <p><span class="bold-span">Milestone:</span> Design Document</p>
                    <p><span class="bold-span">Task:</span> UML Diagrams</p>
                  </div>
                  <hr class="content-separator">
                  <div class="notification-content">
                    <p class="content-text">Id sit aliqua consequat sunt qui cillum sit ea non magna ullamco. Tempor quis nulla non ut reprehenderit eiusmod proident. Incididunt aliqua reprehenderit laboris consectetur proident sint eu. Eiusmod magna consequat consectetur aliqua aute aliquip sint sit. Nisi tempor consectetur ipsum cillum tempor commodo dolore. Non ut voluptate nulla irure voluptate reprehenderit elit. Incididunt anim cupidatat incididunt laboris dolore reprehenderit adipisicing cillum. Eu sint occaecat aliqua aute magna voluptate ut voluptate irure aute duis pariatur id.</p>
                  </div>
                </li>
                <li>
                  <p class="notification-date">05-05-20</p>
                  <div class="notification-header">
                    <h4>SE 302</h4>
                    <p><span class="bold-span">Milestone:</span> Design Document</p>
                    <p><span class="bold-span">Task:</span> UML Diagrams</p>
                  </div>
                  <hr class="content-separator">
                  <div class="notification-content">
                    <p class="content-text">Id sit aliqua consequat sunt qui cillum sit ea non magna ullamco. Tempor quis nulla non ut reprehenderit eiusmod proident. Incididunt aliqua reprehenderit laboris consectetur proident sint eu. Eiusmod magna consequat consectetur aliqua aute aliquip sint sit. Nisi tempor consectetur ipsum cillum tempor commodo dolore. Non ut voluptate nulla irure voluptate reprehenderit elit. Incididunt anim cupidatat incididunt laboris dolore reprehenderit adipisicing cillum. Eu sint occaecat aliqua aute magna voluptate ut voluptate irure aute duis pariatur id.</p>
                  </div>
                </li>
            </ul>
        </div>
        <div class="col-sm-7 user-calendar">
            <div id="calendar">
              <h3 class="calendar-header" id="monthAndYear"></h3>
              <table class="table table-bordered" id="calendar">
                <thead>
                  <tr>
                      <th>Mon</th>
                      <th>Tue</th>
                      <th>Wed</th>
                      <th>Thu</th>
                      <th>Fri</th>
                      <th>Sat</th>
                      <th>Sun</th>
                  </tr>
                </thead>
    
                <tbody id="calendar-body">
    
                </tbody>
              </table>
      
              <div class="form-inline">
      
                <button class="btn btn-outline-primary col-sm-6" id="previous" onclick="previous()">Previous</button>
    
                <button class="btn btn-outline-primary col-sm-6" id="next" onclick="next()">Next</button>
              </div>
              <br/>
              <form class="form-inline">
                <label class="lead mr-2 ml-2" for="month">Jump To: </label>
                <select class="form-control col-sm-4" name="month" id="month" onchange="jump()">
                    <option value=0>Jan</option>
                    <option value=1>Feb</option>
                    <option value=2>Mar</option>
                    <option value=3>Apr</option>
                    <option value=4>May</option>
                    <option value=5>Jun</option>
                    <option value=6>Jul</option>
                    <option value=7>Aug</option>
                    <option value=8>Sep</option>
                    <option value=9>Oct</option>
                    <option value=10>Nov</option>
                    <option value=11>Dec</option>
                </select>
    
    
                <label for="year"></label><select class="form-control col-sm-4" name="year" id="year" onchange="jump()">
                <option value=2010>2010</option>
                <option value=2011>2011</option>
                <option value=2012>2012</option>
                <option value=2013>2013</option>
                <option value=2014>2014</option>
                <option value=2015>2015</option>
                <option value=2016>2016</option>
                <option value=2017>2017</option>
                <option value=2018>2018</option>
                <option value=2019>2019</option>
                <option value=2020>2020</option>
                <option value=2021>2021</option>
                <option value=2022>2022</option>
                <option value=2023>2023</option>
                <option value=2024>2024</option>
                <option value=2025>2025</option>
                <option value=2026>2026</option>
                <option value=2027>2027</option>
                <option value=2028>2028</option>
                <option value=2029>2029</option>
                <option value=2030>2030</option>
              </select></form>
            </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
  <script src="../../static/tasks/js/scripts.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <!-- {% block scriptcontent %}{% endblock %} -->
  </body>
</html>
